<div class="container">
  <div class="row d-flex flex-column align-items-center fs-4">
    {{!-- 下拉式選單 --}}
    <div class="col-8 mt-5">
      <form action="/" method="post">
      <label for="menu"></label>
      <select class="form-select fs-4" aria-label="Default select example" name="menu"
      id="menu" onchange="this.form.submit()">
        <option>類別</option>
          {{#each categories}}
            <option value={{this._id}}>{{this.name}}</option>
          {{/each}}
      </select>
      </form>
    </div>
    {{!-- 總金額 --}}
    <div class="col-8 mt-3">
      <div class="row">
        <div class="col-4">總金額:</div>
        <div class="col-8 text-end" style="color:orange;font-size: 3em;">{{totalAmount}}</div>
      </div>
    </div>
    {{!-- 支出列表 --}}
    <div class="col-8">
      <table class="table table-striped">
        <tbody>
          {{#each expense}}
          <tr>
            <th scope="row">
              <div class="col d-flex justify-content-center align-items-center">
                <i class="fa-solid {{this.icon}}" style="color:#8FD1DF;font-size: 2em" ;></i>
              </div>
            </th>
            <td>
              <div class="item">{{this.name}}</div>
              <div class="date">{{this.date}}</div>
            </td>
            <td class="amount">{{this.amount}}</td>
            <td><a href="/expense/{{this._id}}/edit" style="color:black">修改</a></td>
            <td>
              <form action="">
                <button style="border: none; text-decoration-line: underline;background-color: transparent">刪除</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{!-- 新增支出的按鈕 --}}
    <div class="col-4">
      <a href="/expense/new"><button class="w-100" style="background-color: #EC673E;color: white;border-radius: 5px">新增支出</button></a>
    </div>    
  </div>
</div>
